# Core Python libraries
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1

# Deep Learning
torch==2.4.0
transformers==4.54.1

# Tokenizer
sentencepiece==0.2.0

# Progress bars & logging
tqdm==4.66.4
tensorboard==2.17.0

# Optional (if you plan to visualize training metrics)
matplotlib==3.9.0
seaborn==0.13.2